.header-section {
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-section h2 {
    margin-top: 15px;
}

#searchbar-main {
    margin-top: 50px;
    width: 100%;
    padding: 10px 15px 10px 30px;
    margin-right: 0px;
    border: none;
}

#searchbar-main-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

#js-searchbar-icon-main {
    position: absolute;
    bottom: 23px;
    left: 12px;
    font-size: 10px;
    color: rgb(134, 134, 134);
}

.h2-button-wrapper h2 {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 4.5vw;
}

.song-grid {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 20px 0px 20px 5px;
    margin-top: 10px;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 1px;
}

.song-grid::after {
    content: "";
    flex: 0 0 20px;
}

.song-grid::-webkit-scrollbar {
    display: none;
}

.song-grid-element {
    flex: 0 0 auto;
    margin-left: 15px;
    background-color: var(--primary-text-color);
    width: 110px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-radius: 15px;
    overflow: hidden;
}

.song-grid-element img {
    width: 100%;
    padding-bottom: 3px;
}

.song-grid-element p {
    margin: 0;
    padding-left: 12px;
    padding-right: 12px;
    font-size: 9px;
}

.grid-title {
    color: var(--secondary-text-color);
    font-weight: 600;
}

.grid-artist {
    color: rgb(110, 110, 110);
    font-weight: 500;
    padding-bottom: 4px;
    padding-top: 1px;
}
