.grid-section {
    padding-top: 10px;
}

#res-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    justify-items: center;
}

.song-grid-element {
    margin-left: 0px;
}

@media (min-width: 500px) {
    #res-grid {
        grid-column-gap: 25px;
    }
}

@media (min-width: 1000px) {
    .header-section {
        padding-bottom: 50px;
    }

    .grid-section.section-padding {
        padding-top: 0px;
    }
}