@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

:root {
    --bg-color: linear-gradient(to bottom right, rgb(231, 53, 34), rgb(142, 68, 173));
    --bg-color-accent: linear-gradient(to bottom right, rgb(255, 25, 0), rgb(179, 0, 255));
    --primary-color: rgb(142, 68, 173);
    --secondary-color: rgb(231, 53, 34);
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #000000;
    --active-color: rgba(255, 255, 255, 0.8);

    --main-font: Montserrat, sans-serif;
    --secondary-font: Source Sans Pro, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background: var(--bg-color);
    font-family: var(--main-font);
}

.page-wrapper {
    padding-top: 50px;
}

.page-padding {
    padding: 0px 20px;
}

.section-padding {
    padding-top: 30px;
    padding-bottom: 30px;
}

.element-margin {
    margin-top: 3px;
    margin-bottom: 3px;
}

.shadow {
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.432);
}

.hide.fas {
    display: none;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
  }

h1, h2, h3 {
    margin: 0;
    color: var(--primary-text-color);
}

h1 {
    font-size: 7vw;
}

h2 {
    font-size: 5vw;
    font-weight: 400;
    font-family: var(--secondary-font);
}

h3 {
    font-size: 4vw;
    font-weight: 400;
}

a {
    text-decoration: none;
}

nav {
    width: 100vw;
    height: 50px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--primary-text-color);
    z-index: 100;
}

nav i {
    cursor: pointer;
    align-self: center;
    color: var(--secondary-text-color);
}

.logo, #js-search, #js-close, .searchbar {
    margin: 15px 20px;
    animation-duration: .5s;
}

#js-close {
    display: none;
    z-index: 100;
}

.hide {
    display: none;
}

.search-result-container {
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: var(--primary-text-color);
    z-index: 1;
    padding-bottom: 10px;
    animation-duration: .1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
}

.searchbar {
    border-radius: 50px;
    border: 1.25px solid rgb(197, 195, 195);
    padding: 10px 15px 10px 30px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 0px;
}

.searchbar:focus {
    outline: none;
    border: 1.5px solid var(--secondary-color);
}

#js-searchbar-icon {
    display: none;
    position: absolute;
    left: 66px;
    font-size: 10px;
    color: rgb(134, 134, 134);
    animation-duration: .5s;
    z-index: 100;
}

.searchbar-logo-wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 50px;
}

.search-result-element {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    height: 40px;
}

.search-result-element:hover {
    background-color: rgba(216, 215, 215, 0.863);
}

.search-result-active {
    background-color: rgba(216, 215, 215, 0.562);
}

.search-result-cover {
    height: 100%;
    border-radius: 10px;
}

.search-result-text-wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 10px;
    color: var(--secondary-text-color);
}

.search-result-element p {
    margin: 0;
    font-size: 12px;
}

.search-result-title {
    font-weight: 600;
}

.search-result-artist {
    color: rgb(134, 134, 134);
    font-weight: 500;
}

.no-search-result-element {
    margin: 0;
    padding: 10px 20px;
    color: rgb(134, 134, 134);
    font-size: 3.5vw;
}

.logo {
    color: var(--secondary-color);
    font-weight: 700;
}

.footer {
    color: var(--primary-text-color);
    font-size: 3vw;
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes open-search-view {
    from {
        transform-origin: top;
        transform: scaleY(0);
    }
    to {
        transform-origin: top;
        transform: scaleY(1);
    }
}

@keyframes close-search-view {
    from {
        transform-origin: top;
        transform: scaleY(1);
    }
    to {
        transform-origin: top;
        transform: scaleY(0);
    }
}

@keyframes start-opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes end-opacity {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }