@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    --secondary-color: #FFFFFF;
    --active-color: rgba(255, 255, 255, 0.8);

    --main-font: Montserrat, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    background: var(--primary-color);
    font-family: var(--main-font);
}

.page-wrapper {
    padding-top: 50px;
}

.page-padding {
    padding: 0px 20px;
}

.section-padding {
    padding-top: 40px;
    padding-bottom: 40px;
}

.element-margin {
    margin-top: 3px;
    margin-bottom: 3px;
}

.shadow {
    box-shadow: 1px 1px 6px black;
}

.hide.fas {
    display: none;
}

h1, h2, h3 {
    margin: 0;
    color: var(--secondary-color);
}

h1 {
    font-size: 7vw;
}

h2 {
    font-size: 5vw;
    font-weight: 500;
}

h3 {
    font-size: 4vw;
    font-weight: 400;
}

a {
    text-decoration: none;
}

nav {
    width: 100vw;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--secondary-color);
    z-index: 1;
}

.logo, #js-search {
    padding: 15px 20px;
}

.searchbar-wrapper > * {
    display: none;
}

.logo {
    color: var(--primary-color);
    font-weight: 700;
}
